<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Mechatronics Engineer working at BioCarbon Engineering, having previously ran a 3D printing business, which developed my skills in product development, and rapid prototyping. <br/><br/>
			I enjoy developing new technologies which combine mechanical, electrical and software development skills.
		</div>
		<br>
	</div>
</div>
